/SOURCECODE/KTTKPM_DHKTPM13B_BAITAPLON_NHOM13/ATM.APIModel/ApiModel/obj
/SOURCECODE/KTTKPM_DHKTPM13B_BAITAPLON_NHOM13/ATM.APIModel/ApiModel/bin
/SOURCECODE/KTTKPM_DHKTPM13B_BAITAPLON_NHOM13/ATM.App/App/obj
/SOURCECODE/KTTKPM_DHKTPM13B_BAITAPLON_NHOM13/ATM.DataAccess/DataAccess/obj
/SOURCECODE/KTTKPM_DHKTPM13B_BAITAPLON_NHOM13/ATM.DataAccess/DataAccess/bin
/SOURCECODE/KTTKPM_DHKTPM13B_BAITAPLON_NHOM13/ATM.DataAccess/Entities/obj
/SOURCECODE/KTTKPM_DHKTPM13B_BAITAPLON_NHOM13/ATM.WebApi/WebApi/obj
