/SOURCECODE/KTTKPM_DHKTPM13B_BAITAPLON_NHOM13/ATM.APIModel/ApiModel/obj
/SOURCECODE/KTTKPM_DHKTPM13B_BAITAPLON_NHOM13/ATM.APIModel/ApiModel/bin
/SOURCECODE/KTTKPM_DHKTPM13B_BAITAPLON_NHOM13/ATM.App/App/obj
/SOURCECODE/KTTKPM_DHKTPM13B_BAITAPLON_NHOM13/ATM.App/App/bin
/SOURCECODE/KTTKPM_DHKTPM13B_BAITAPLON_NHOM13/ATM.DataAccess/DataAccess/obj
/SOURCECODE/KTTKPM_DHKTPM13B_BAITAPLON_NHOM13/ATM.DataAccess/DataAccess/bin
/SOURCECODE/KTTKPM_DHKTPM13B_BAITAPLON_NHOM13/ATM.DataAccess/Entities/obj
/SOURCECODE/KTTKPM_DHKTPM13B_BAITAPLON_NHOM13/ATM.DataAccess/Entities/bin
/SOURCECODE/KTTKPM_DHKTPM13B_BAITAPLON_NHOM13/ATM.WebApi/WebApi/obj
/SOURCECODE/KTTKPM_DHKTPM13B_BAITAPLON_NHOM13/ATM.WebApi/WebApi/bin
/SOURCECODE/KTTKPM_DHKTPM13B_BAITAPLON_NHOM13/ATM.WebApi/BusinessLogic/bin
/SOURCECODE/KTTKPM_DHKTPM13B_BAITAPLON_NHOM13/ATM.WebApi/BusinessLogic/obj
/SOURCECODE/KTTKPM_DHKTPM13B_BAITAPLON_NHOM13/.vs/KTTKPM_DHKTPM13B_BAITAPLON_NHOM13/v16
/SOURCECODE/KTTKPM_DHKTPM13B_BAITAPLON_NHOM13/ATM.App
/SOURCECODE/KTTKPM_DHKTPM13B_BAITAPLON_NHOM13/ATM/bin
/SOURCECODE/KTTKPM_DHKTPM13B_BAITAPLON_NHOM13/ATM/obj
